*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}



.main {
    display: flex;
    position: relative;
    justify-content: center;
    box-shadow: 0 0px 6px 0 rgb(32 33 36 / 28%);
}

.logo-space{
    align-items: center;
    width: 140px;
    height: 74px;
}

.nav-list {
    align-items: center;
    margin: 0px;
    position: relative;
    width: 1993px;
}

.logout-space{
    align-items: center;
    width: 140px;
    height: 74px;
}



li, a {
    font-family: Disclaimer Medium,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #5c6178;
    text-decoration: none;
}

.nav-item-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}



.nav-item-list li {
    display: inline-block;
    padding: 27px 21px;
    margin: -4px;
}

.nav-item-list li:hover{
    background-color: #f4f4f7;
}


