*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}



.main {
    display: flex;
    position: relative;
    justify-content: center;
    box-shadow: 0 0px 6px 0 rgb(32 33 36 / 28%);

}

.logo-space{
    align-items: center;
    width: 140px;
    height: 74px;
}

.nav-list {
    align-items: center;
    margin: 0px;
    height: 74px;
    width: 1993px;
    overflow-y: hidden;
}

.logout-space{
    align-items: center;
    width: 140px;
    height: 74px;
}



li, a {
    font-family: Disclaimer Medium,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #5c6178;
    text-decoration: none;
}

.nav-item-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}



.nav-item-list li {
    display: inline-block;
    padding: 30px 21px;
    margin: 0px;
}

.nav-item-list li:hover{
    background-color: #f4f4f7;
}

.toggle-collapse{
    cursor: pointer;
    visibility: hidden;
}



@media only screen and (max-width: 800px){
    .nav-item-list{
        display: flex;
        list-style: none;
        flex-direction: column;
    }
    .nav-list.collapse{
        height: 368px;
    }
    
    .nav-item-list {
        display: flex;
        list-style: none;
        flex-direction: column;
        margin: 48px 0px 0px 0px;
    }

.logo-space {
    align-items: center;
    width: 140px;
    height: 74px;
    margin-bottom: auto;
}

.logout-space {
    align-items: center;
    width: 140px;
    height: 74px;
    margin-bottom: auto;
}

.toggle-collapse{
    visibility: visible;
}
}
