*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}



.main {
    display: flex;
    position: relative;
    justify-content: center;
    box-shadow: 0 0px 6px 0 rgb(32 33 36 / 28%);

}

.logo-space{
    align-items: center;
    width: 140px;
    height: 74px;
}

.nav-list {
    align-items: center;
    margin: 0px;
    height: 74px;
    width: 1993px;
    overflow-y: hidden;
}

.logout-space{
    align-items: center;
    width: 140px;
    height: 74px;
}


li, a {
    font-family: Disclaimer Medium,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #5c6178;
    text-decoration: none;
}

.nav-item-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}



.nav-item-list li {
    display: inline-block;
    padding: 30px 21px;
    margin: 0px;
}

.nav-item-list li:hover{
    background-color: #f4f4f7;
}

.toggle-collapse {
    cursor: pointer;
    padding: 26px 0px 0px 0px;
    margin-bottom: auto;
    display: none;
}



@media only screen and (max-width: 760px){

    .nav-item-list {
        display: flex;
        list-style: none;
        flex-direction: column;
        margin: 74px 0px 0px 0px;
    }

    .nav-list.show{
        height: 271px;
        
    }

    .toggle-collapse.show{
        margin: -321px 0px 0px 0px
    }

    .nav-item-list li:hover{
        background-color: white;
    }

.logo-space {
    align-items: center;
    width: 140px;
    height: 74px;
    margin-bottom: auto;
}

.logout-space {
    align-items: center;
    width: 140px;
    height: 74px;
    margin-bottom: auto;
}
.hamburger{
    width: 50%;
    height: 50%;
}

.toggle-collapse {
    display: block;
    
}
.nav-item-list li {
    display: inline-block;
    padding: 13px 21px;
    margin: 0px;
}
}
